:root {
  --red: #cd4631;
  --back: rgba(87, 86, 86, 0.082);
}

html,
body {
  padding: 0;
  margin: 0;

  display: block;

  min-height: 100%;
}

body {
  background: transparent;

  z-index: 1;
  /* Full height */

  /* Center and scale the image nicely */

  background-position: center;
}

.videoBg {
  object-fit: cover;
  width: 100%;
  position: absolute;
  top: 0;
  z-index: -1;
  filter: brightness(80%);
  height: 100vh;
  user-select: none;
}

.coverImg {
  display: flex;
  min-width: 100%;
  margin: auto;
  height: 100vh;
  margin-bottom: 100px;
  flex-direction: column;
  align-items: center;
  background: transparent;
  box-shadow: inset 0 0 0 100vmax rgba(0, 0, 0, 0.3);
  justify-content: center;
}

.coverImg h1 {
  font-size: 80px;
  font-size: clamp(2rem, 6vw, 6rem);
  margin-bottom: 100px;
  width: 80%;

  text-align: left;
  color: white;
}
.coverImg h2 {
  font-size: clamp(2rem, 6vw, 4.1rem);
  width: 60%;
  margin-top: 200px;

  text-align: right;
  color: white;
}

.arrow {
  display: flex;
  margin-bottom: -10px;
  margin-top: 200px;

  border: none;
  background-color: transparent;
  justify-content: flex-end;
  align-items: flex-end;
  cursor: pointer;
  position: absolute;
  bottom: 20px;
}

.arrow:focus {
  outline: 0;
}

.arrow:active {
  transform: scale(0.9);
}

:root {
  --red: #cd4631;
}

.linkk {
  width: 200px;
}
#product {
  display: flex;
  align-items: center;

  text-align: center;

  -webkit-backdrop-filter: blur(100px);

  backdrop-filter: blur(100px);
  height: 36vh;
  flex-wrap: wrap;
  flex-direction: column;
  clip-path: circle(49%);

  justify-content: center;
  margin-top: 20px;
}

#product:active {
  transform: scale(0.96);
}
.leftOfImg {
  margin-top: 2px;

  width: 100%;
  height: 400px;
  font-size: 10px;
  box-shadow: inset 0 0 0 100vmax rgba(0, 0, 0, 0.2);

  display: flex;
  flex-direction: column;
  justify-content: center;
  position: absolute;

  color: white;
}

.leftOfImg:hover {
  box-shadow: inset 0 0 0 100vmax rgba(0, 0, 0, 0.4);
}

.leftOfImg:hover .ingredients {
  display: block;
}

.ingredients {
  text-align: center;
  display: flex;
  flex-direction: column;
  display: none;
}

.ingredients p {
  font-size: 40px;
}

.mainLi {
  list-style: none;
  width: 100%;
  text-align: center;
  border: none;
  box-shadow: none;
  font-size: 20px;
}

.mealName {
  text-decoration: none;
  font-size: 20px;
  text-align: center;
  margin: auto;

  color: rgb(53, 53, 53);
  margin-top: 4vh;
  width: 100%;
}

.productContainer {
  margin-top: 100px;
  min-height: 100%;
  gap: 50px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  text-decoration: none;
}
.linkk {
  text-decoration: none;
  font-weight: 100;
  height: fit-content;
}
.productImg {
  margin-bottom: -3px;
}

.hero h1 {
  color: #e9c913;
}

.finalSection {
  padding-top: 30px;
  width: 80vw;
  margin: auto;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-bottom: 100px;
}

.rec {
  width: 400px;
  margin: auto;
}

.recommandations {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 50px;
  margin: auto;
  position: relative;
  margin-top: 50px;
}

input {
  height: 50px;
  border: none;
  width: 90%;
  color: #888787;
  font-size: 15px;
  margin-top: 5px;
  background: transparent;
  vertical-align: middle;
  margin-left: 12px;
}

.searchBt {
  border: none;
  height: 60px;
  width: 50px;

  background: transparent;

  cursor: pointer;
  color: white;
  vertical-align: middle;
  border-radius: 0 30px 30px 0;
}

.searchBt:hover {
  background: #a1a0a077;
}

.searchBt:active {
  background: #a3a3a3;
  transform: scale(0.95);
  box-shadow: 0 4px 5px -3px rgb(180, 179, 179);
}

.searchBt:focus {
  outline: none;
}

.search {
  height: 60px;
  border-radius: 30px;
  background: rgba(206, 199, 199, 0.425);
  width: clamp(300px, 40vw, 700px);
  padding-left: 0;
  margin: auto;
  display: flex;
  justify-content: space-between;
  margin-bottom: 50px;

  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

input:hover,
input:focus {
  outline: 0;
}

input::-webkit-search-cancel-button {
  -webkit-appearance: none;
  /*Your new styles */
  height: 20px;
  width: 20px;
  background: transparent;
}

.hero {
  text-align: center;
  width: 80vw;
  margin: auto;
  min-height: 100%;
  color: white;
  font-weight: bold;

  padding: 20px;
}
.h11 {
  position: absolute;
  top: 10vh;
}

.h22 {
  position: absolute;
  top: 40vh;
}

.recommended_recipes {
  font-size: 40px;
}

@media (max-height: 934px) {
  .mealName {
    margin-top: 5rem;
  }
}

@media (max-width: 450px) {
  .ingredients p {
    font-size: 30px;
    margin-bottom: 2px;
  }

  .mainLi {
    font-size: 15px;
  }

  .coverImg {
    width: 100%;
  }

  .videoBg {
    width: 100%;
  }
  .page {
    width: 100vw;
  }

  .recommended_recipes {
    font-size: 30px;
    width: 90%;
    margin: auto;
  }
  .productContainer {
    width: 100vw;
  }
  #product {
    width: 90vw;
  }

  .mealName {
    width: 50vw;
  }

  h1 {
    width: 60%;
    margin: 0;
  }

  .finalSection {
    text-align: center;
    margin: 0;
    width: 100%;
    margin-bottom: 0;
  }

  html {
    margin: 0;
    padding: 0;
  }

  body {
  }

  .linkk,
  .rec,
  #product {
    width: 300px;
  }

  .productContainer {
    width: 70%;
    margin: auto;
  }

  .search {
    width: 300px;
  }
  .arrow {
    display: none;
  }

  .page {
    overflow: hidden;
  }
}
